**/.DS_Store
.idea/
*.iml
target/*
!target/dependency/
target/dependency/*
!target/dependency/encoded-logger-output-*
.classpath
.project
.settings/
CompressorTest*.jpg
*.log
Base.jpg
Top.jpg
outputs/
work
CHANGELOG.md
